* {
    margin: 0;
    padding: 0;
}

textarea,
button {
    border: solid 2px #000000;
}

body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
}

header h1,
header h3 {
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    margin-top: 5rem;
    font-size: 3rem;
}

header h3 {
    font-size: 2rem;
    margin-top: 1rem;
}

.editor {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

textarea {
    width: 30rem;
    height: 10rem;
    resize: none;
    padding: 0.5rem;
}

textarea::placeholder {
    font-style: italic;
    color: #d1d1d1;
}

.colorButtons {
    display: flex;
    margin: 0.25rem 0;
}

.colorButtons button {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    display: block;
    flex-grow: 1;
}

.colorButtons button.selected {
    border-style: dashed;
    border-color: #aaaaaa;
}

.colorButtons button:not(:last-child) {
    margin-right: 0.5rem;
}

.colorButtons #bad {
    background-color: red;
}

.colorButtons #good {
    background-color: blue;
}

.colorButtons #improvement {
    background-color: yellowgreen;
}

.colorButtons #unexpected {
    background-color: pink;
}

.editor #addColorButton {
    padding: 1rem 2rem;
    background-color: #cccccc;
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.board {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.board .row {
    display: flex;
    justify-content: space-between;
}

.board .row h2 {
    margin-bottom: 2rem;
    text-align: center;
}

.board .row .bad h2 {
    border-bottom: 4px solid red;
}

.board .row .good h2 {
    border-bottom: 4px solid blue;
}

.board .row .improvement h2 {
    border-bottom: 4px solid greenyellow;
}

.board .row .unexpected h2 {
    border-bottom: 4px solid pink;
}

.card {
    width: 12rem;
    color: #ffffff;
    box-shadow: 10px 5px 5px grey;
}

.board .row .bad .cards .card {
    background-color: red;
    padding: 1rem;
    margin-bottom: 1rem;
}

.board .row .good .cards .card {
    background-color: blue;
    padding: 1rem;
    margin-bottom: 1rem;
}

.board .row .improvement .cards .card {
    background-color: blue;
    padding: 1rem;
    margin-bottom: 1rem;
}

.board .row .unexpected .cards .card {
    background-color: blue;
    padding: 1rem;
    margin-bottom: 1rem;
}